#userimage {
  width: 99%;
  height: 150px;
  border-radius: 1rem;
}
.userbtnbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: black solid 1px;
  border-radius: 1rem;
  /* margin: 15px 5px 16px 5px; */
  padding: 5px 5px 5px 5px;
  /* width: 99%; */
}
.userbox {
  width: 99%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
}
/* button {
  width: 99%;
  max-width: 130px;
  border-radius: 10px;
  margin: 5px 0px 5px 0px;
} */

#home_button {
  width: 99%;
  max-width: 1000px;
  border-radius: 10px;
  margin-top: 5px;
}
.userinfo {
  border-radius: 1rem;
  background-color: aquamarine;
}

#usercontent {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  max-width: 1000px;
  width: 99%;
}

a {
  text-decoration-line: none;
  text-decoration-color: None;
}
