#likeRankBoard {
  background-color: white;
  width: 99%;
  border: black solid 1px;

  /* margin: 16px 5px 16px 5px; */
  margin: 15px 0 0 0;
  padding: 5px 5px 5px 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
#likeRank {
  background-color: #ffc107;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 99%;
  border: black solid 1px;
  border-radius: 0.5rem;
  margin-top: 10px;
}
