/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: "Pretendard", serif;
}

body {
    background-color: rgb(228, 217, 217);
}

.card {
    height: auto;
    width: auto;
    margin: 20px auto 10px auto;

    border: solid white;
    border-radius: 10px;
}

.card>.delete_comment {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

} */