<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
    function register_click() {
      const name = $('#name').val();
      const email = $('#email').val();
      const psword = $('#psword').val();

      if (name == '' || email == '' || psword == '') {
        alert('내용을 작성해주세요.');
      } else {
        $.ajax({
          type: 'POST',
          url: '/register',
          data: {
            name_give: name,
            email_give: email,
            psword_give: psword
          },
          success: function (response) {
            alert(response['msg']);
            window.location.reload();
          }
        });
      }
    }
  </script>
  </head>
  <body>
    <table>
      <form name="form" action="/" method="post"></form>
      <thead>
        <caption>
          회원가입
        </caption>
      </thead>
    </table>
    <tr>
      <td>이름</td>
      <td><input type="text" name="user_name" /></td>
    </tr>
    <tr>
      <td>이메일</td>
      <td><input type="text" name="email" /></td>
    </tr>
    <tr>
      <td>비밀번호</td>
      <td><input type="text" name="psword" /></td>
    </tr>
    <button onclick="register_click()" type="button">회원가입</button>
  </body>
</html>
