<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</head>
<body>
  <div class="container">
    <!-- 게시글 목록 -->
    <ul style="padding: 0;">
      {% for board in response.boards %}
        <div class="card mb-2" style="cursor: pointer;" onclick="(alert(`{{ board.id }} 게시글 이동`))">
          <div class="d-flex">
            <div class="p-2 w-100">
              <div class="card-body">
                <h5 class="card-title">{{ board.title }}</h5>
                <p class="card-text">{{ board.content }}</p>
              </div>
            </div>
            <div class="p-2 flex-shrink-1">
              <img src="https://placeimg.com/100/100/any" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
        </div>
      {% endfor%}
    </ul>

    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center"></ul>
    </nav>
    <script>
      let page = parseInt('{{response.page}}');
      let total_page = parseInt('{{response.total_page}}');
      let start_page = parseInt('{{response.start_page}}');
      let end_page = parseInt('{{response.end_page}}');

      let temp = '';
      if (start_page != 1) {
        temp += `<li class="page-item">
                  <a class="page-link" href="/boards?p=${start_page-1}">이전</a>
                </li>`;
      } else {
        temp += `<li class="page-item disabled">
                  <a class="page-link">이전</a>
                </li>`;
      }
      for (let i=start_page;i<=end_page;i++) {
        if (i == page) {
          temp += `<li class="page-item active"><a class="page-link" href="/boards?p=${i}">${i}</a></li>`;
        } else {
          temp += `<li class="page-item"><a class="page-link" href="/boards?p=${i}">${i}</a></li>`;
        }
      }
      if (end_page != total_page) {
        temp += `<li class="page-item">
                  <a class="page-link" href="/boards?p=${end_page+1}">다음</a>
                </li>`;
      } else {
        temp += `<li class="page-item disabled">
                  <a class="page-link">다음</a>
                </li>`;
      }
      document.querySelector('.pagination').innerHTML += temp;
    </script>
</body>
</html>