<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>잘못된요청페이지</h1>
  <!-- {% for board in response.boards %}
        <div class="card mb-2" style="cursor: pointer;" onclick="(alert(`{{ board.id }} 게시글 이동`))">
          <div class="d-flex">
            <div class="p-2 w-100">
              <div class="card-body">
                <h5 class="card-title">{{ board.title }}</h5>
                <p class="card-text">{{ board.content }}</p>
              </div>
            </div>
            <div class="p-2 flex-shrink-1">
              <img src="https://placeimg.com/100/100/any" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
        </div>
      {% endfor%} -->

  <script>

      
  </script>
</body>
</html>