<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-md-0 text-muted ms-3">&copy; 2022 DOG94</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3 me-3"><a class="link-dark" href="https://github.com/5kiran/94DOG" target="_blank"><i class="fa-brands fa-github fs-3"></i></svg></a></li>
    </ul>
  </footer>
</div>