<nav class="navbar">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='images/dozi.jpeg') }}" alt="Logo" width="50" class="d-inline-block align-text-top">
      개띠구조대
    </a>
    <div class="d-flex">
      <button class="btn btn-outline-success me-1" type="submit">Home</button>
      <button class="btn btn-outline-success me-1" type="submit">마이페이지</button>
      <button class="btn btn-outline-success me-1" type="submit">게시판</button>
    </div>
  </div>
</nav>