<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/likeranking.js"></script>
<link href="/static/css/likeranking.css" rel="stylesheet" />
<script>
  $(document).ready(function () {
    showRank();
  });
</script>
<div id="likeRankBoard">
  <div><i class="fa-solid fa-ranking-star"></i>좋아요 랭킹</div>
  <div id = "likeRank" class="rank1">
  </div>
  <div id = "likeRank" class="rank2">
  </div>
  <div id = "likeRank" class="rank3">
  </div>
  <div id = "likeRank" class="rank4">
  </div>
  <div id = "likeRank" class="rank5">
  </div>
</div>
<!-- 💖 -->
