<meta charset="utf-8" />
<title>Login</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="../static/css/login.css" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
/>
<body>
  <div class="login">
    <h1>Login</h1>
    <div>
      <input
        type="email"
        name="email"
        placeholder="Email"
        id="email"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        id="password"
        required
      />
      <input type="button" onclick="login_click()" value="Login" />
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        회원가입
      </button>
      {% include "components/register.html" %}
    </div>
  </div>
</body>
<script src="../static/js/login.js"></script>
