<meta charset="utf-8" />
<title>Login</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="../static/css/login.css" />
<link
  href="/docs/5.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
  crossorigin="anonymous"
/>
<body>
  <div id="loginpage" class="login">
    <div id="box">
      <div style="margin: 5px" class="form-floating">
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="name@example.com"
        />
        <label for="email">이메일</label>
      </div>
      <div style="margin: 5px" class="form-floating">
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
        <label for="password">비밀번호</label>
      </div>
      <button
        style="padding: 5px; margin-top: 5px"
        class="w-100 btn btn-lg btn-primary"
        onclick="login_click()"
        type="submit"
      >
        로그인
      </button>
      <button
        style="padding: 5px; margin-top: 5px"
        class="w-100 btn btn-lg btn-primary"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        회원가입
      </button>
      {% include "components/register.html" %}
    </div>
  </div>
</body>
<script src="../static/js/login.js"></script>
