<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/login.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />
  </head>
  <body>
    <div class="register">
      <h1>Register</h1>
      <div class="links">
        <a href="/login">Login</a>
        <a href="/register" class="active">Register</a>
      </div>
      <div>
        <label for="name">
          <i class="fas fa-user"></i>
        </label>
        <input type="text" name="name" placeholder="Name" id="name" required />
        <label for="password">
          <i class="fas fa-lock"></i>
        </label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          required
        />
        <label for="email">
          <i class="fas fa-envelope"></i>
        </label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          id="email"
          required
        />
        <input type="submit" onclick="register_click()" value="Register" />
        <input type="button" onclick="email_click()" value="Eamil Check" />
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../static/js/login.js"></script>
</html>
