<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/login.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />
  </head>
  <body>
    <div class="register">
      <h1>Register</h1>
      <div class="links">
        <a href="/login">Login</a>
        <a href="/register" class="active">Register</a>
      </div>
      <div class="mb-3">
        <form id="file_form" enctype="multipart/form-data">
          <!-- <label for="name">
            <i class="fas fa-user"></i>
          </label> -->
          <input
            type="text"
            name="user_name"
            placeholder="Name"
            id="user_name"
            required
          />
          <!-- <label for="password">
            <i class="fas fa-lock"></i>
          </label> -->
          <input
            type="text"
            name="password"
            placeholder="Password"
            id="password"
            required
          />
          <!-- <label for="email">
            <i class="fas fa-envelope"></i>
          </label> -->
          <input
            type="text"
            name="email"
            placeholder="Email"
            id="email"
            required
          />
          <input class="form-control" type="file" name="file_data" />
          <!-- <input class="form-control" accept="image/*" type="file" id="input_file"> -->
          <button
            onclick="register_click()"
            type="button"
            class="btn btn-primary"
          >
            저장
          </button>
        </form>
        <img id="test_img" src="" alt="" />
        <input type="submit" onclick="register_click()" value="Register" />
        <input type="button" onclick="email_click()" value="Eamil Check" />
      </div>
    </div>
  </body>
  <script src="../static/js/login.js"></script>
</html>
