<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="../static/js/register.js" defer></script>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
/>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="register">
          <div class="mb-3">
            <form id="file_form" enctype="multipart/form-data">
              <div class="form-floating">
                <input type="user_name" name="user_name" class="form-control" id="user_name" placeholder="Name" required>
                <label for="user_name">Name</label>
              </div>
              <div class="form-floating">
                <input type="password" name="register_password" class="form-control" id="register_password" placeholder="Password" required>
                <label for="register_password">Password</label>
              </div>
              <div class="form-floating">
                <input type="text" name="register_email" class="form-control" id="register_email" placeholder="Email" required>
                <label for="register_email">Email address</label>
              </div>
              <input type="button" onclick="email_click()" class="btn btn-primary" value="Email Check" />
              <input class="form-control" type="file"  name="file_data" />
              <!-- <input class="form-control" accept="image/*" type="file" id="input_file"> -->
            </form>
            <img id="test_img" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button onclick="register_click()" type="button"  class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>
</div>
  </body>

