<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>게시글 보기</title>
    <script src="../static/js/viewpost.js"></script>
    <script src="/static/js/likeranking.js"></script>
    <link href="/static/css/liked.css" rel="stylesheet">
</head>
<body>
    <div id="view_post" class="view_post" style="margin-top: 15px;">
        <button type="button" onclick="cancle_viewpost()" class="btn btn-outline-dark">뒤로가기</button>
        <h1 id="post_title">title</h1>
        <h5>작성 시간 : <span id="post_time"></span></h5>
        <h5>작성자 : <span id="post_name"></span></h5>
        <h5>조회수 : <span id="post_cnt"></span></h5>
        <div>
            <h5 id ="likeCnt">좋아요 갯수 : 0</h5>
            <a id ="likeimg" class="likebutton">🤍</a><br>
        </div>
        <h5>내용 : <br><br><span id="post_content"></span></h5>
        <div id="post_img"></div>
        
        <button type="button" id="delete_post" class="btn btn-outline-secondary delete_ment">삭제</button>
        <button type="button" id="update_post" class="btn btn-dark recover">수정</button>
    </div>
</body>
</html>