<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>게시글 보기</title>
    <script src="../static/js/viewpost.js"></script>
    <script src="/static/js/likeranking.js"></script>
    <link href="/static/css/liked.css" rel="stylesheet">
</head>
<body>
    <div id="view_post" class="view_post" style="margin-top: 15px;">
        <button type="button" onclick="cancle_viewpost()" class="btn btn-outline-dark">뒤로가기</button>
    </div>
</body>
</html>