<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>게시글 보기</title>
    <script src="../static/js/viewpost.js"></script>
    <script src="/static/js/likeranking.js"></script>
    <link href="/static/css/liked.css" rel="stylesheet">
</head>
<body>
  <div class="mypost" id="post">
    <form id="file_form" enctype="multipart/form-data">
      <div class="input-group d-flex mb-2 mt-3">
        <input type="text" class="form-control text border-dark" id="post_title" name="title" readonly/>
      </div>
      <div class="input-group d-flex mb-2">
        <button type="button" class="btn btn-outline-dark readonly">작성자</button>
        <input id="post_name" type="text" class="form-control border-dark" readonly>
        <button type="button" class="btn btn-outline-dark">작성시간</button>
        <input id="post_time" type="text" class="form-control border-dark" readonly>
      </div>
      <div class="input-group mb-2">
        <button type="button" class="btn btn-outline-dark readonly">조회수</button>
        <input id="post_cnt" type="text" class="form-control border-dark" readonly>
      </div>
      <div class="input-group mb-2">
        <button id="like_btn" type="button" class="btn btn-outline-danger">좋아요 🤍</button>
        <input id="likeCnt" type="text" class="form-control border-dark" readonly>
      </div>
      <div id="post_img"></div>
      <div class="mb-2">
        <textarea class="form-control text border-dark" id="content" name="content" rows="8" readonly></textarea>
      </div>
    </form>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" onclick="cancle_viewpost()" class="btn btn-outline-dark">뒤로가기</button>
      <button type="button" id="delete_post" class="btn btn-outline-secondary delete_ment">삭제</button>
      <button type="button" id="update_post" class="btn btn-dark recover">수정</button>
    </div>
  </div>
</body>
</html>